@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
html, body, #map {
  width: 100%;
  height: 100%;
}
.leaflet-container{
  height: 100%;
  background: #d0cfd4!important;
}
.leaflet-popup-content p{
  margin: 2px 0 !important;
}
.leaflet-popup-content h5{
  font-size: 12px;
  margin: 0px;
  margin-bottom: 4px;
}
.my-leaflet-map-container img {
  max-height: none;
}
.error-message{
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #d40000;
  position: relative;
  z-index: 9;
  color: #fff;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.App {
  display:flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.App .detalis{
  flex:1;
  padding:35px;
  overflow-y: auto;
  box-shadow: 2px 0px 31px 3px rgba(0, 0, 0, 0.14);
  position: relative;
  z-index: 999;
}

.App .map{
  flex:2;
  background: #303030;
}

h1{
font-size: 40px;
font-weight: 800;
margin: 0px;
}
p.description{
  font-size:14px;
  line-height: 24px;
  color:#707070;
  margin: 30px 0px;
}
p.description b{
  color:#15D4B7
}
.bg{
  background-color: #F3F3F3;
  padding:20px;
}
.country-name span{
  text-transform: uppercase;
  margin-left: 20px;
}
.flex-table-container{
  display: flex;
  justify-content: space-between;
}
.amount{
  color:#d40000;
  font-weight: 600;
  font-size: 25px;
}
.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:33.3%
}
.row{
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  height: 30px;
}
.row.heading{
  border-bottom: 1px solid #d5d5d5;
  font-size: 18px;
  color:#707070;
  font-weight: 300;
}
.col:first-child .row.heading, .col:first-child .row.amount{
  border-right: 1px solid #d5d5d5;
}
.col:last-child .row.heading, .col:last-child .row.amount{
  border-left: 1px solid #d5d5d5;
}
h2.country-name{
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 10px;
}
.table-container{
  margin: 30px 0px;
}
.period-change .select{
  border: 1px solid #d5d5d5;
  border-radius: 25px;
  padding: 8px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.period-chart.disabled{
  opacity:.4;
  pointer-events: none;
}
.period-change{
  width: 200px;
  margin: 15px 0px;
  margin-left: 20px;
position: relative;
}
.period-change .options{
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 25px;
  top:-20px;
  border-radius: 16px;
  top: 0px;
  z-index:9;
}
.period-change ul{
  list-style-type: none;
  padding:0px
}
.period-change ul li{
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.select{
  position: relative;
}
.select .svg-inline--fa{
  right: 0px;
  position: absolute;
  margin-right: 20px;
}
h4{
  font-size: 16px;
}
.country-change{
  margin-top: 45px;
  margin-right: 60px;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  position: absolute;
  right: 0px;
}
.country-change .select-wrapper{
  display: flex;
  align-items: center;
}
.country-change .search-button{
  position: relative;
  right: 38px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 0px 31px 3px rgba(0,0,0,0.75)
}
.country-change select{
  width: 400px;
  right: 0px;
  position: relative;
  background-color: #fff;
  padding: 8px;
  border-radius: 20px;
  border:2px solid #d40000;
  -webkit-appearance: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  cursor: pointer;
  background: url('./assets/arrow-down.png') no-repeat right #fff;
  background-position-x: calc( 100% - -7px );
  background-position-y: -10px;
}

/* customize scrollbar css */
#scrollbar-custom::-webkit-scrollbar{
  width:5px;
  background-color:#fcfcfc;
}
#scrollbar-custom::-webkit-scrollbar:horizontal{
  height:5px;
}
#scrollbar-custom::-webkit-scrollbar-track{
  border:1px #fcfcfc solid;
  border-radius:5px;
  -webkit-box-shadow:0 0 6px #fcfcfc inset;
}
#scrollbar-custom::-webkit-scrollbar-thumb{
  background-color:#d40000;
  border:1px solid #d40000;
  border-radius:16px;
}
#scrollbar-custom::-webkit-scrollbar-thumb:hover{
  background-color:#d40000;
  border:1px solid #d40000;
}
#scrollbar-custom::-webkit-scrollbar-thumb:active{
  background-color:#d40000;
  border:1px solid #d40000;
}
#scrollbar-custom{
  scrollbar-color: #fcfcfc  #d40000;
  scrollbar-width: thin;
}
.recharts-default-legend{
  padding-top:15px !important
}
.preloader{
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  z-index: 9999;
}
.timeline, .map{
  position:relative
}
@media(max-width:1420px){
  .App .map{
    flex: 1.5;
  }
}
@media(max-width:1140px){
  .App{
    flex-direction: column;
  }
  .App .map{
    min-height: 350px;
  }
  .App .detalis{
    overflow:unset;
  }
  .country-detalis{
    display: flex;
    margin-right:-10px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .statistics{
    flex:1;
    margin-right: 10px;
  }
  .timeline{
    flex:1;
    margin-left: 10px;
  }
}
@media(max-width:992px){
  .country-detalis{
    flex-direction: column;
  }
  .statistics{
    margin-right: 0px;
  }
  .timeline{
    margin-left: 0px;
  }
}
@media(max-width:576px){
  .country-change .select-wrapper{
    width: 100%;
  }
  .country-change{
    margin-right: 0px;
    padding: 0px 10px 0px 50px;
    width: 100%;
    left: 0px;
    margin: 19px auto 0;
    box-sizing: border-box;
  }
  .country-change .search-button{
    position: absolute;
    right: 32px;
  }
  .country-change select{
    width: 100%;
  }
  .row{
    padding: 10px 0px;
  }
  .row.heading{
    font-size: 15px;
  }
  h1{
    font-size: 30px;
  }
  .amount{
    font-size: 22px;
  }
}
@media(max-width:420px){
  .App .detalis{
    padding: 20px 10px;
  }
  p.description{
    margin: 20px 0px;
  }
  .bg{
    padding: 20px 10px;
  }
  .amount{
    font-size: 18px;
  }
}